body
{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: #f0f0f0;
  margin:0;
}
.to-do-container
{
  background-color:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.input-section
{
  display:flex;
  gap:8px;
  margin-bottom:15px;
}
#taskInput
{
  flex:1;
  padding:8px;
  border:1px solid #ccc;
  border-radius:5px;
}
.addbtn
{
  padding:8px 12px;
  border:none;
  background-color:#4CAF50;
  color: white;
  border-radius:5px;
  cursor: pointer;
} 
.ul
{
  list-style:none;
  padding:0;
}
.li
{
  display:flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px;
}
